.search-form {
  position: relative;
  z-index: 10;

  .input-group {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    position: relative;

    &.search {
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
      width: 100%;
    }

    .btn i,
    .input-group-text i {
      font-size: 1.2rem;
      color: #6c757d; 
    }
  }

  .search {
    .search-field {
      outline: none;
      box-shadow: none;
      width: 100%;
      height: 55px;
      padding-left: 20px;
      padding-right: 64px;
      border: 0 none;
      background-color: #fff;
      color: #333;
      flex: 1 1 auto;
      min-width: 0; 
      border-radius: 6px 6px 6px 6px !important;
    }

    .btn,
    .input-group-text {
      padding: 7px 12px;
      height: 55px;
      font-size: 1.2rem;
      background-color: #fff;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      outline: none;
      border: 0 none;
      cursor: pointer;
      border-radius: 6px 6px 6px 6px;
      flex: 0 0 auto;
    }

    &.search > .btn,
    &.search > .input-group-text,
    &.search .btn,
    &.search .input-group-text {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
      height: auto; /* allow natural height */
      padding: 8px 10px;
      background: transparent;
    }
  }
}

.search-field-group {
  .search-field {
    background-color: #004a99;
    border: 0 none;
    color: #fff;
    font-size: .9rem;
    font-weight: 200;
    padding: .55rem .75rem;
    border-radius: .25rem 0 0 .25rem;
    transition: all .5s ease;
    width: 200px;
    height: 40px;
    box-shadow: none;

    &:focus {
      width: 280px;
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      color: rgba(255, 255, 255, .5);
    }
  }

  .input-group-append {
    padding: 0;
    border-bottom: 0;
    height: 40px;
  }
}

.form-inline {
  margin: 0 50px;
  position: relative;

  .suggestions-container {
    width: 420px;
    margin-top: 0;
    top: 44px;
    left: 2px;

    .suggestions {
      border-radius: 3px;
      padding-top: 0;
      box-shadow: 0 10px 15px -20px #000;

      ul li:first-child a {
        border-top: 0 none;
      }

      ul li a.selected {
        border-radius: 3px;
      }
    }
  }

  .search-field-group .input-group > button.btn,
  .search-field-group .input-group > .input-group-text {
    border-radius: 0 .25rem .25rem 0;
  }
}
  
.navbar.navbar-minimal .search-field-group .btn {
  line-height: 1.6;
}
  
.suggestions-container {
  padding: 0 15px;
  position: absolute;
  width: 100%;
  margin-top: -23px;
  z-index: 5;

  &.detailed {
    position: relative;
    margin-top: 25px;
    margin-left: 0;
    padding: 0;

    .suggestions {
      padding-top: 0;

      ul li a {
        h4.article-title {
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 0;
          color: #424242;
        }

        .meta {
          font-size: 0.9rem;
          color: #b0b0b0;
        }

        p {
          color: #5b5b5b;
        }

        em {
          background-color: #f6ffa5;
          padding: 4px 2px;
          font-style: normal;
        }
      }
    }
  }

  .results-num {
    color: #fff;
    width: 100%;
    text-align: right;
  }

  .suggestions {
    background-color: #fff;
    box-shadow: 0px 10px 25px -20px #000;
    padding: 23px 0 0px;

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;

      li {
        a {
          &:link, &:visited, &:hover {
            padding: 14px 30px;
            display: block;
            border-top: 1px solid aliceblue;
            color: #303030;
            transition: background-color ease .3s;
          }

          &:hover {
            text-decoration: none;
          }

          &.selected {
            text-decoration: none;
            background-color: rgba(204, 204, 204, .3);
            color: #1f1f1f;
          }
        }
      }
    }
  }
}

.tags .badge {
  background-color: #4b3a3a; 
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}