body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 600;
}